html {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
}

.container {

    padding: 20px;
    width: max-content;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    width: 500px;
    border-radius: 38px;
    background: #e0e0e0;
    box-shadow:  5px 5px 0px #606060,
                 -5px -5px 0px #ffffff;
    height: 500px;
}

.row {
    margin-top: 10px;
    padding: 10px;
}

#result {
    margin-top: 100px;
    width: 350px;
    height: 50px;

}

button {
border-radius: 10px;
background: white;
    width: 50px;
    height: 50px;
}